<h1>Nikki's Cats</h1>
<h3>Some people are just <em>really</em> into their cats.</h3>
<h4>You might have met Nikki already elsewhere on the web, but this is the personal home page of her three cats.</h4>
<p>This page is both a loving site dedicated to Nikki's cats and an attempt at playing around in the Lotus web framework for Ruby.</p>
